{
  "log_path": "infernet_node.log",
  "server": {
    "port": 4000
  },
  "chain": {
    "enabled": true,
    "rpc_url": "base_sepolia_rpc_url",
    "trail_head_blocks": 4,
    "registry_address": "0x3B1554f346DFe5c482Bb4BA31b880c1C18412170",
    "wallet": {
      "max_gas_limit": 100000,
      "private_key": "0xPrivateKey"
    },
    "snapshot_sync": {
      "sleep": 1.5,
      "batch_size": 200
    }
  },
  "docker": {
    "username": "username",
    "password": "password"
  },
  "redis": {
    "host": "redis",
    "port": 6379
  },
  "forward_stats": true,
  "containers": [
    {
      "id": "hello-world",
      "image": "ritualnetwork/hello-world-infernet:latest",
      "description": "hello world example",
      "external": true,
      "port": "4999",
      "allowed_addresses": [],
      "allowed_delegate_addresses": [],
      "allowed_ips": [],
      "command": "--bind=0.0.0.0:3000 --workers=2",
      "gpu": false,
      "accepted_payments": {
      },
      "generates_proofs": true
    }
  ]
}
